<!--This is the partial view for admin access 
    levels. This one shows grades. 
    -->

@model CIS174_TestCoreApp.Models.StudentModel

<p>
    Name: <em>@Model.FirstName @Model.LastName</em>  --- 
    Grade: <strong>@Model.Grade</strong>
</p>