<!-- This is the Index view that appears when you open
    assignment 6.1. It prompts you for an access level
    which is used in the StudentView view. Each option
    is a link to the StudentView along with a route 
    parameter for access level. 
    -->

<h2>Please enter your access level. </h2>

<div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Access Level <span class="caret"></span></a>
    <ul class="dropdown-menu">
        @for (var i = 1; i < 11; i++)
        {
            <li><a href="Student/StudentView/@i">@i</a></li>
        }
    </ul>
</div>