<!-- This is the view for the Students page. 
    I use two separate partial views, one for
    admin access levels, and one for lower
    access levels. I use loops to create a line
    for each StudentModel item in the Students 
    list. 
    -->

@model CIS174_TestCoreApp.Models.StudentViewModel

<h2>Students: </h2>
@if (@Model.AccessLevel > 7) // uses _StudentAdmin partial view
{
    <h3>Hello Admin!</h3>
    <br />

    @foreach (var item in @Model.Students)
    {
        @await Html.PartialAsync("_StudentAdmin", item)
    }
}
else if (@Model.AccessLevel > 2) // uses _Student partial view
{
    @foreach (var item in @Model.Students)
    {
        @await Html.PartialAsync("_Student", item)
    }
}
else // The assignment didn't specify what to do at AccessLevel = 2, so I grouped it with 1
{
    <p>You do not have a sufficient access level to view this data.</p>
}